<h3>碎片列表</h3>
<admin:panel >
<admin:table id="table" show="编号|50,名称,标识,操作|120"  class="m-table-border">
  <foreach name="list" item="vo">
    <tr>
      <td>{$vo.fragment_id}</td>
      <td>{$vo.name}</td>
      <td>{$vo.label}</td>
      <td><a class="u-btn u-btn-primary u-btn-small" href="{:U('edit',array('fragment_id'=>$vo['fragment_id']))}">修改</a> <a class="u-btn u-btn-danger u-btn-small del" href="javascript:;" data="{$vo.fragment_id}">删除</a></td>
    </tr>
  </foreach>
</admin:table>
</admin:panel>
<script>
Do.ready('base',function() {
	$('#table').duxTable({
		deleteUrl: "{:U('del')}"
	});
});
</script> 